body{
	scrollbar-face-color:#98D9FF;
	scrollbar-highlight-color:#32B4FF;
	scrollbar-3dlight-color:#ECFAFE;
	scrollbar-darkshadow-color:#ECFAFE;
	scrollbar-Shadow-color:#32B4FF;
	scrollbar-arrow-color:#32B4FF;
	scrollbar-track-color:#ECFAFE;
	}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-size: 12px;
}
#img1 {
	background-image: url(logo.gif);
	background-repeat: no-repeat;
	height: 58px;
}
#img2 {
	background-image: url(bg2.gif);
	background-repeat: repeat-x;
	height:93px;
}
#img3 {
	background-image: url(bottom.gif);
	background-repeat: repeat-x;
	height:43px;
}
.bg1 {
	background-image: url(bg1.gif);
}
.bg2 {
	background-image: url(bg2.gif);
	background-repeat: repeat-x;
}
.title {
	font-size: 16px;
	font-weight: bold;
	color: #319AEB;
}
.title2 {
	font-size: 12px;
	color: #319AEB;
}
a:link {
	text-decoration: none;
	color: #ffffff;
}
a:visited {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	text-decoration: none;
	color: #FFFF99;
}
a:active {
	text-decoration: none;
	color: #ffffff;
}

 
.logintt {
	font-size: 14px;
	font-weight: bold;
	color: #0066CC;
}
.loginbox {
	background-color: #FFFFEC;
	border: 1px solid #B3D9FF;
}




.bg3 {
	background-image: url(../../images/Vista-blue/bg3.gif);
}
.font1 {
	font-size: 12px;
	line-height: 150%;
	color: #000000;
}
.font_b {
	font-weight: bold;
	font-size: 14px;
	color: #398ECF;
}

.font2 {
	font-size: 12px;
	line-height: 20px;
	color: #006699;
	letter-spacing: normal;
	font-weight: bold;
}
.title {
	font-size: 16px;
	font-weight: bold;
	color: #319AEB;
}

.font3{
	color:#FF0000;
	line-height:150%;
	}
.box1{
	width: 70%;
	border: 1px solid #B4D5D8;
}
.box2{
	width: 15%;
	border: 1px solid #B4D5D8;
}
.box3{
	width: 40%;
	border: 1px solid #B4D5D8;
}
.box4{
	width:100%;
	border: 1px solid #B4D5D8;}
.box5{  
	border: 1px solid #B4D5D8;}
.tbale01{
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #398ECF;
	border-right-color: #398ECF;
	border-left-color: #398ECF;
	background-color: #FFFFFF;
	}
input.btn01 {
	font-size: 12px;
	color: #000000;
	background-image: url(../../../images/btn01.gif);
	background-repeat: repeat-x;
	background-position: center;
	height: 22px;
	border: 1px solid #398ECF;
	CURSOR: hand;
	padding-right: 6px;
	padding-left: 6px;
	text-align: center;
	vertical-align: text-bottom;
	line-height: 130%;
	font-family: Arial, "ו";
}
input.btn02 {
	font-size: 12px;
	color: #000000;
	background-image: url(../../../images/btn02.gif);
	background-repeat: repeat-x;
	background-position: center;
	height: 22px;
	border: 1px solid #398ECF;
	CURSOR: hand;
	padding-right:6px;
	padding-left: 6px;
	text-align: center;
	vertical-align: text-bottom;
	line-height: 130%;
	font-family: Arial, "ו";
}
a:link {
	color: #9D0038;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #9D0038;
}
a:hover {
	text-decoration: underline;
	color: #003399;
}
a:active {
	text-decoration: none;
	color: #9D0038;
}
.tb_bd {
	background-color: #94BED6;
	margin: 1px;
}
.tbtitle_bg1 {
	background-color: #E1F4FF;
	color: #003366;
	line-height: 22px;
}
.tbtitle_bg2 {
	background-color: #FEFDF5;
	line-height: 22px;
}
.tbtitle_bg3 {
	background-color: #ffffff;
	line-height: 22px;
}
.tScroll01{
	overflow: auto;
	overflow-x:hidden;
	height:100%;
	cursor: default;
	scrollbar-face-color:#FFD998;
	scrollbar-highlight-color:#FFA132;
	scrollbar-3dlight-color:#FEFBEC;
	scrollbar-darkshadow-color:#FEFBEC;
	scrollbar-Shadow-color:#FFA132;
	scrollbar-arrow-color:#FFA132;
	scrollbar-track-color:#FEFBEC;
	width: 100%;
}	
.tbtitle_bg4 {

	background-color: #F0FAFF;
}


#Layer1 {
	position:absolute;
	width:70%;
	z-index:1;
	visibility: hidden;
}
#fy {
	
}
#yy {
visibility: hidden;
}
.font_gl {
	color: #666666;
}
